.right-bar{
    -fx-background-color: #FAEBD7;
}

.buttons{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #FAEBD7;
    -fx-background-radius: 30;
}